<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <ServiceName>login_service</ServiceName>
  <Host>localhost</Host>
  <Port>50001</Port>
  <RegisterServer>http://localhost:2379</RegisterServer><!-- register etcd address -->
  <HmacKeyPath>./hmacKey</HmacKeyPath><!-- register etcd address -->
  <LogPath>./Logs</LogPath>
  <Log2Files>false</Log2Files>
  <DBServer>localhost</DBServer>
  <DBPort>27017</DBPort>
  <DBUser>root</DBUser>
  <DBPassword>123456</DBPassword>
</configuration>
